## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [51]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [52]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

shopdf = pd.read_csv("../data/processed/shopping_cleaned.csv")

In [53]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

color_pivot = pd.pivot_table(shopdf, columns= "Season", index = "Color", values = "Location", aggfunc= len)

In [54]:
# TODO: Display this pivot table

color_pivot

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [55]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

color_pivot["Fall"].sort_values(ascending=False)

Color
Brown                   97
Burnt orange            93
Terra cotta             91
Ruby Red                90
Brick red               88
Mauve                   86
Black                   84
Muted mustard yellow    84
Aubergine               83
Baby blue               16
Lavender                13
White                   10
Periwinkle               9
Pale peach               9
Lemon yellow             9
Turquoise                7
Fuchsia                  3
Name: Fall, dtype: int64

In [56]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

color_pivot["Winter"].sort_values(ascending=False)

Color
Black                   124
Burnt orange            112
Aubergine               111
Brick red               110
Ruby Red                107
Terra cotta             101
Mauve                    95
Brown                    89
Muted mustard yellow     87
Baby blue                21
Fuchsia                  18
Turquoise                16
Pale peach               15
Lemon yellow             13
White                    11
Periwinkle                8
Lavender                  6
Name: Winter, dtype: int64

In [57]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

color_pivot["Spring"].sort_values(ascending=False)

Color
Baby blue               69
White                   63
Lavender                55
Periwinkle              54
Pale peach              52
Turquoise               49
Lemon yellow            47
Fuchsia                 45
Muted mustard yellow     8
Brick red                7
Mauve                    5
Brown                    5
Black                    5
Burnt orange             4
Terra cotta              4
Ruby Red                 3
Aubergine                2
Name: Spring, dtype: int64

In [58]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

color_pivot["Summer"].sort_values(ascending=False)

Color
Lavender                102
Lemon yellow             98
Baby blue                84
Periwinkle               82
Pale peach               81
White                    81
Fuchsia                  78
Turquoise                74
Terra cotta              15
Muted mustard yellow     13
Aubergine                13
Brick red                12
Black                     9
Ruby Red                  8
Mauve                     7
Burnt orange              5
Brown                     3
Name: Summer, dtype: int64

In [59]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

color_pivot.idxmax()

Season
Fall          Brown
Spring    Baby blue
Summer     Lavender
Winter        Black
dtype: object

In [75]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

item_pivot = pd.pivot_table(shopdf, columns= "Season", index = "Item Purchased", values = "Location", aggfunc= len)
item_pivot

Season          Fall  Spring  Summer  Winter
Item Purchased
Backpack        72.0     NaN     NaN   113.0
Belt            25.0     NaN     NaN     NaN
Boots           51.0     NaN     NaN    83.0
Dress           36.0    74.0   118.0     NaN
Gloves          68.0     NaN     NaN   112.0
Handbag         31.0    78.0   111.0     NaN
Hoodie          58.0     NaN     NaN   105.0
Jacket          47.0     NaN     NaN    87.0
Jeans           46.0     NaN     NaN     NaN
Leggings        58.0     NaN     NaN   118.0
Pajamas         65.0     NaN     NaN   111.0
Running Shoes   25.0    89.0   134.0     NaN
Scarf           56.0     NaN     NaN   101.0
Shorts          31.0    76.0   152.0     NaN
Socks           71.0     NaN     NaN   101.0
Sunglasses      43.0    80.0   135.0     NaN
Sweater         72.0     NaN     NaN   113.0
T-shirt         17.0    80.0   115.0     NaN

In [76]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

item_pivot.idxmax()

Season
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings
dtype: object

In [77]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

promo_code = shopdf[shopdf["Promo Code Used"] == "Yes"]

non_promo = shopdf[shopdf["Promo Code Used"] == "No"]

In [90]:
promo_code

,Unnamed: 0,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
1785,2224,36.0,Female,Running Shoes,62.442101,Massachusetts,L,White,Summer,Present,Standard,Yes,0,Credit Card
1786,2225,57.0,Male,Backpack,51.969839,Michigan,M,Aubergine,Fall,Missing,2-Day Shipping,Yes,1,Credit Card
1787,2226,26.0,Male,Socks,54.899050,Wisconsin,M,Black,Fall,Missing,2-Day Shipping,Yes,0,Credit Card
1788,2227,36.0,Female,Handbag,46.883976,Delaware,S,Mauve,Summer,Missing,2-Day Shipping,Yes,2,Credit Card
1789,2228,34.0,Female,Backpack,45.171082,Texas,L,Mauve,Winter,Present,2-Day Shipping,Yes,13,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,3894,39.0,Male,Running Shoes,55.636680,Kansas,L,White,Summer,Missing,2-Day Shipping,Yes,11,Venmo
3154,3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,Missing,2-Day Shipping,Yes,7,Venmo
3155,3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,Present,2-Day Shipping,Yes,20,Venmo
3156,3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,Missing,2-Day Shipping,Yes,3,Venmo
3157,3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,Present,2-Day Shipping,Yes,2,Venmo

In [78]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

promo_code.shape

(1373, 14)

In [79]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

promo_code["Purchase Amount (USD)"].mean()

50.06747998236351

In [80]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

non_promo.shape

(1785, 14)

In [81]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

non_promo["Purchase Amount (USD)"].mean()

30.155750765104113

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Null: There is no difference in the dollar amount spent by promo-code users and non-promo code users.

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Alt: There is a difference in the dollar amount spent by promo-code users and non-promo code users.

In [93]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html
promo_code_amnt = promo_code['Purchase Amount (USD)']
non_promo_amnt = non_promo['Purchase Amount (USD)']
stats.ttest_ind(promo_code_amnt, non_promo_amnt)

TtestResult(statistic=93.2464714350831, pvalue=0.0, df=3156.0)

In [121]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_review = shopdf.groupby('Review Rating')

In [123]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

g_review.groups.keys()

dict_keys(['Missing', 'Present'])

In [126]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
g_review[["Purchase Amount (USD)", "Age", "Previous Purchases"]].mean()

               Purchase Amount (USD)        Age  Previous Purchases
Review Rating
Missing                    38.923623  34.080198            5.344059
Present                    38.615947  34.371705            6.778559

In [154]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

shopdf["Prev Purchase Group"] = pd.cut(shopdf["Previous Purchases"],bins = [-1, 6, float('inf')],labels=["Low", "High"], )

In [155]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

shopdf.loc[shopdf['Prev Purchase Group'] == 'Low', 'Review Rating'].value_counts()

Review Rating
Missing    1384
Present     659
Name: count, dtype: int64

In [156]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

shopdf.loc[shopdf['Prev Purchase Group'] == 'High', 'Review Rating'].value_counts()

Review Rating
Missing    636
Present    479
Name: count, dtype: int64

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

The top three colors for Fall were Brown, Burnt Orange and Terra cota. The top three colors for Winter were Black, Burnt Orange, and Aubergine.

### Q2

What are the top three colors for Spring & Summer?

The top three colors for Spring are Baby Blue, White, and Lavender.
The top three colors for Summer are Lavender, Lemon Yellow, and Baby Blue.

### Q3

What is the most popular clothing item by season?

The most popular clothing item for fall were backpacks. 
The most popular clothing item for Spring were running shoes. 
The most popular clothing item for Summer were shorts. 
The most popular clothing item for Winter were leggings.

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

The p-value that we got when running our t-test between promo code and non promo code users was pvalue=0.0. This means that we reject the null hypothesis. Meaning that there is a difference in the dollar amount spent by promo-code users and non-promo code users.

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

Looking at our value_counts output for the "Review Rating" column for both your "High" and "Low" groups, proportionally speaking, someone with a low previous purchase amount is less likely to leave a review versus those users that had a higher previous purchase amount.